# Server secret configurations
JWT_SECRET=super_secret_jwt_key_123456
GEMINI_API_KEY=

# Google Authentication Parameters
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Nodemailer SMTP settings
SMTP_HOST=smtp.host.com
SMTP_PORT=587
SMTP_USER=admin@dundee.in
SMTP_PASS=
